# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Library/assetDatabase3
Library/assetDatabase3
Library/assetDatabase3
Library/metadata/00/00000000000000002000000000000000
Library/metadata/00/00000000000000003000000000000000
Temp/UnityLockfile
*.log
Temp/UnityTempFile-930e1fef7d65bc9429b5d27f6d44a302
*.stamp
Library/ScriptAssemblies/BuiltinAssemblies.stamp
*.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
*.info
Library/metadata/b8/b806d2ca61adfc54aa3ed3eebdb292e0.info
Library/metadata/00/0000000000000000c000000000000000
Library/metadata/00/0000000000000000a000000000000000
Library/metadata/00/00000000000000008100000000000000
Library/metadata/00/00000000000000006100000000000000
Library/metadata/00/00000000000000005000000000000000
Library/metadata/00/00000000000000004000000000000000
Library/assetDatabase3
*.info
Library/metadata/91/91e956804d9f7cb4ca4bbafa1c8bdc0b
*.info
Library/metadata/3b/3b41be3e1c9bd0c468f197f4e5765fe1
*.info
Library/metadata/00/0000000000000000b000000000000000
Library/metadata/c2/c2a332f4b8a945e49b0805b744736432
*.info
*.dwlt
Library/assetDatabase3
*.dwlt
Library/expandedItems
Library/metadata/1c/1cebb51311b4c7640a022801bacd1533
*.mdb
Library/metadata/e2/e2af7036f7d6c494db4618c1a0789998
